In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../data"))

# Any results you write to the current directory are saved as output.

['README.md', 'sample_submission.csv', 'test.zip', 'test-faces.zip', 'test-private-faces.zip', 'test-private-labels.zip', 'test-private-lists.zip', 'test-public-faces.zip', 'test-public-lists.zip', 'train.zip', 'train-faces.zip', 'train_relationships.csv', 'train']

In [5]:
import matplotlib.pyplot as plt
from PIL import Image

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 9999
pd.options.display.float_format = '{:20, .2f}'.format

ModuleNotFoundError: No module named 'plotly'

In [3]:
train_df = pd.read_csv("../data/train_relationships.csv")
train_df.head()

           p1          p2
0  F0002/MID1  F0002/MID3
1  F0002/MID2  F0002/MID3
2  F0005/MID1  F0005/MID2
3  F0005/MID3  F0005/MID2
4  F0009/MID1  F0009/MID4

In [4]:
train_df.shape

(3598, 2)

In [5]:
files = [os.path.join(dp, f) 
         for dp, dn, fn in os.walk(os.path.expanduser("../data/train")) for f in fn]
train_images_df = pd.DataFrame({
    'files': files,
    'familyId': [file.split('/')[3] for file in files],
    'kinId': [file.split('/')[4] for file in files],
    'uniqueId': [file.split('/')[3] + '/' + file.split('/')[4] for file in files]
})
train_images_df.head()

                                       files familyId kinId    uniqueId
0  ../data/train/F0002/MID1/P00016_face2.jpg    F0002  MID1  F0002/MID1
1  ../data/train/F0002/MID1/P00009_face3.jpg    F0002  MID1  F0002/MID1
2  ../data/train/F0002/MID1/P00011_face1.jpg    F0002  MID1  F0002/MID1
3  ../data/train/F0002/MID1/P00014_face2.jpg    F0002  MID1  F0002/MID1
4  ../data/train/F0002/MID1/P00010_face4.jpg    F0002  MID1  F0002/MID1

In [6]:
print("Total number of members in the dataset: {0}".format(train_images_df["uniqueId"].nunique()))
print("Total number of families in the dataset: {0}".format(train_images_df["familyId"].nunique()))

Total number of members in the dataset: 2316
Total number of families in the dataset: 470

In [7]:
family_with_most_pic = train_images_df["familyId"].value_counts()
kin_with_most_pic = train_images_df["uniqueId"].value_counts()
print("Family with maximum number of images: {0}, Image Count: {1}".format(family_with_most_pic.index[0], family_with_most_pic[0]))
print("Member with maximum number of images: {0}, Image Count: {1}".format(kin_with_most_pic.index[0], kin_with_most_pic[0]))

Family with maximum number of images: F0601, Image Count: 776
Member with maximum number of images: F0601/MID6, Image Count: 95

In [8]:
family_series = family_with_most_pic[:25]
labels = (np.array(family_series.index))
sizes = (np.array((family_series / family_with_most_pic.sum()) * 100))

trace = go.Pie(labels=labels, values=sizes)
layout = go.Layout(title='Pic Count by Families')
data = [trace]
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Families')

NameError: name 'go' is not defined